#fields{
    width: 100%;
    background: rgba(36, 36, 36, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
}

#fields div{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    color: white;
    font-style: italic;
    font-weight: bolder;
}
#destinationTitle{
    margin-left: 40px;
    width: 35%;
}
#departureDateTitle{
    margin-left: 30px;
 width: 15%;
}
#returnDateTitle{
    width: 15%;
}

@media(max-width:600px){
    #fields{
        width: 100%;
        background: rgba(36, 36, 36, 0.1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        display: flex;
    }

    #fields div{
        padding-top: 1vh;
        padding-bottom: 1vh;
        font-size: 3vw;
        color: white;
        font-style: italic;
        font-weight: 500;
    }
    #destinationTitle{
        margin-left: 4%;
        width: 20%;
    }
    #departureDateTitle{
        width: 22%;
    }
    #returnDateTitle{
        width: 20%;
    }

}