 @import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
 
 #friendsHeader{
    padding-top: 35px;
    padding-bottom: 50px;
    background: linear-gradient(rgb(0, 194, 136), rgb(56, 255, 179));
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(179, 179, 179, 0.5);
 }
 
 #friendsHeader div{
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: baseline;
 }

#myFriends{
    position: relative;
    color: white;
    font-size: 50px;
    text-decoration: none;
    font-family: "Kenia", cursive;
    font-style: italic;
    border: 0px;
    background-color: transparent;
}

#otherTravelers{
    position: relative;
    color: white;
    font-size: 50px;
    text-decoration: none;
    font-family: "Kenia", cursive;
    font-style: italic;
    border: 0px;
    background-color: transparent;
}

.underline::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    width: 100%;
    background: linear-gradient(to right, rgb(0, 79, 153), rgb(111, 255, 255), rgb(0, 79, 153));
    border: 0px;
    border-radius: 30%;
    animation: underlineAppear 0.3s ease-in-out;
}

@keyframes underlineAppear{
      from{
         width: 0%;
      }
      to{
         width: 100%;
      }
}


@media(max-width:600px){
   #friendsHeader{
      padding-top: 3vh;
      padding-bottom: 4vh;
      background: linear-gradient(rgb(0, 194, 136), rgb(56, 255, 179));
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgb(179, 179, 179, 0.5);
      box-sizing: border-box;
      max-width: 100%;
   }
   
   #friendsHeader div{
      width: 50%;
      justify-content: center;
      display: flex;
      align-items: baseline;
   }

   #myFriends{
      position: relative;
      color: white;
      font-size: 50px;
      text-decoration: none;
      font-family: "Kenia", cursive;
      font-style: italic;
      border: 0px;
      background-color: transparent;
   }

   #otherTravelers{
      position: relative;
      color: white;
      font-size: 50px;
      text-decoration: none;
      font-family: "Kenia", cursive;
      font-style: italic;
      border: 0px;
      background-color: transparent;
   }

   .underline::after{
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 3px;
      width: 100%;
      background: linear-gradient(to right, rgb(0, 79, 153), rgb(111, 255, 255), rgb(0, 79, 153));
      border: 0px;
      border-radius: 30%;
      animation: underlineAppear 0.3s ease-in-out;
   }
}