#friendsWindow{
    height: 40%;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 30%;
    background-color: white;
    border-radius: 20px;
    z-index: 15;
    overflow-y: auto;
    box-shadow: 2px 2px 5px rgb(30,30,30);
    animation: appear 0.3s ease-in-out;
}

#friendsWindow-options-box{
    height: 20%;
    background-color: rgb(79, 155, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 15px;
}

#search-friendsWindow{
    border-radius: 20px;
    background-color: rgb(227, 249, 255);
    margin-left: 40px;
    border: 0px;
    box-shadow: 2px 2px 2px rgb(30,30,30);
    width: 30%;
    height: 80%;
    padding-left: 10px;
}

#search-friendsWindow input{
    background: linear-gradient(to right,rgb(0, 31, 78), rgb(0, 185, 185));
    background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 26px;
    width: 280px;
    border: 0px;
    padding-top: 15px;
}

#search-friendsWindow input:focus{
    outline: none;
}

#closeButton-friendsWindow{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0px;
}

#closeButton-friendsWindow:hover{
    filter: invert();
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media(max-width:1100px){
    #friendsWindow{
        height: 40%;
        width: 90%;
        position: absolute;
        left: 5%;
        top: 30%;
        background-color: white;
        border-radius: 20px;
        z-index: 15;
        overflow-y: auto;
        box-shadow: 2px 2px 5px rgb(30,30,30);
        animation: appear 0.3s ease-in-out;
    }

    #friendsWindow-options-box{
        height: fit-content;
        background-color: rgb(79, 155, 255);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    #search-friendsWindow{
        border-radius: 20px;
        background-color: rgb(227, 249, 255);
        margin-left: 4vw;
        border: 0px;
        box-shadow: 2px 2px 2px rgb(30,30,30);
        width: 50vw;
        height: 5vh;
        padding-left: 3vw;
    }

    #search-friendsWindow input{
        background: linear-gradient(to right,rgb(0, 31, 78), rgb(0, 185, 185));
        background-clip: text;
    -webkit-text-fill-color: transparent;
        font-size: 3vh;
        width: 95%;
        border: 0px;
        padding-top: 1vh;
    }

    #search-friendsWindow input:focus{
        outline: none;
    }

    #closeButton-friendsWindow{
        position: absolute;
        right: 1vh;
        top: 1vh;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 50%;
        width: fit-content;
        height: fit-content;
        padding: 1vh;
        font-size: 3vh;
    }

    #closeButton-friendsWindow:hover{
        filter: invert();
    }
}