#header{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-weight: bold;
    padding: 40px;
    display: flex;
    align-items: center;
    z-index: 2;
}

#header-title{
    font-family: "Playball", cursive;
    margin-left: 140px;
    font-size: 60px;
    background: linear-gradient(to right,rgb(243, 243, 243), rgb(216, 216, 216));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.myTrips{
    background: linear-gradient(rgb(25, 37, 145), rgb(118, 130, 236));
}

.publicTrips{
    background: linear-gradient(rgb(25, 77, 145), rgb(118, 173, 236));
}

.notifications{
    background: linear-gradient(rgb(185, 182, 33), rgb(236, 224, 118));
}

@media(max-width:1100px){
    #header{
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        font-weight: bold;
        padding-top: min(4vh, 25px);
        padding-bottom: min(4vh, 25px);
        display: flex;
        align-items: center;
        z-index: 2;
    }

    #header-title{
        font-family: "Playball", cursive;
        margin-left: 15vw;
        font-size: min(10vw,50px);
        background: linear-gradient(to right,rgb(243, 243, 243), rgb(216, 216, 216));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}