@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
#myTripsPage{
    background-color: rgb(216, 231, 255);
    height: 100vh;
    overflow-y: auto;
}

#header{
    background: linear-gradient(rgb(25, 73, 145), rgb(58, 116, 202));
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-weight: bold;
    padding: 40px;
    display: flex;
    align-items: center;
    z-index: 2;
}

#options-box{
    background: rgba(36, 36, 36, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 60px;
}

#myTrips-title{
    font-family: "Playball", cursive;
    margin-left: 40px;
    font-size: 60px;
    background: linear-gradient(to right,rgb(243, 243, 243), rgb(216, 216, 216));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#search{
    border-radius: 20px;
    background-color: aliceblue;
    color: rgb(24, 23, 23);
    margin-left: 40px;
    border: 0px;
    box-shadow: 2px 2px 2px rgb(30,30,30);;
}

#createButton{

    background: rgb(19, 32, 107, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 0px;
    box-shadow: 2px 2px 2px rgb(30,30,30);;
    color:rgb(226, 226, 226);
}

#create-link{
    margin-left:100px;
}

#joinButton{
    margin-left:100px;
    background: rgb(19, 32, 107, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 0px;
    box-shadow: 2px 2px 2px rgb(30,30,30);
    color:rgb(226, 226, 226);
}

#createButton:hover{
    box-shadow: 2px 2px 2px rgb(226, 226, 226);
    cursor:pointer;
    filter:brightness(1.2)
}

#joinButton:hover{
    box-shadow: 2px 2px 2px rgb(226, 226, 226);
    cursor:pointer;
    filter:brightness(1.2)
}

#logout{
    background-color: rgb(73, 98, 180);
    color: rgb(8, 27, 138);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border: 0px;
    cursor: pointer;
    padding: 20px;
    font-size: 30px;
}

#logoutLink{
    position: absolute;
    right: 40px;
}

#dropdown-filters-box{
    margin-left: 40px;
    position: relative;
    z-index: 2;
}    

#filters{
    background-color: rgb(226, 226, 226);
    color: rgb(30,30,30);
    cursor: pointer;

}

#dropdown-filters-menu{
    position: absolute;
    top:30px;
    left: -80px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 0px;
    transition: transform 0.5s ease, opacity 0.5s ease, width 0.5s ease;
    width: 0px;
    z-index: 3;
    box-shadow: 0px 2px 2px rgb(30,30,30);
    opacity: 0;
    visibility: hidden;
}

#dropdown-filters-menu.drop{
    transform: translateY(25px);
    opacity:1;
    box-shadow: 0px 2px 2px rgb(30,30,30);
    width: 230px;
    visibility: visible;
}

#dropdown-filters-menu button{
    background-color: transparent;
    color: rgb(30,30,30);
    display: flex;
    font-size: 26px;
    border: 0px;
}

#dropdown-filters-menu button:hover{
    color: rgb(26, 138, 230);
    cursor: pointer;
}
