@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

#myTripsPage{
    background-color: rgb(216, 231, 255);
    height: 100vh;
}

#header{
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 40px;
    font-family: "Delius", cursive;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    z-index: 2;
}

#options-box{
    background-color: rgb(231, 231, 231);
    padding: 20px 0px;
    z-index: 1;
}

#myTrips-title{
    margin-left: 40px;
    font-size: 40px;
}

#search{
    border-radius: 20px;
    background-color: aliceblue;
    color: rgb(24, 23, 23);
    margin-left: 40px;
    border: 0px;
    box-shadow: 2px 2px 2px black;
}