@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

#profileTab{
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100vh;
    width: 27%;
    background: linear-gradient(rgb(8, 52, 146), rgb(69, 119, 134));
    z-index: 1200;
    padding: 40px;
    color: rgb(245, 245, 245);
    animation: appearTab 0.5s ease-in-out;
    box-shadow: -2px 0px 5px black;
    transition: width 0.3s ease-in-out;
}

@keyframes appearTab{
    from{
        width: 0px;
        opacity: 0;
    }
    to{
        width: 27%;
        opacity: 1;
    }
}


#profileTab div{
    font-family:"Finger Paint", serif;
    font-size: 22px;
}

#nameAndPfp{
    margin-top: 40px;
    display: flex;
    align-items: center;
}

#profileTab-name{
    font-size: 45px;
    font-family:"Rocl Salt", cursive;
    background: linear-gradient(to right,rgb(201, 172, 42), rgb(255, 244, 244));
    background-clip: text;
  -webkit-text-fill-color: transparent;

}

#profileTab-email{
    font-family: "Saira", sans-serif;
    font-size:30px;
    margin-top: 30px;
    display: flex;
    align-items: baseline;
}

#profileTab-birthday{
    font-family: "Saira", sans-serif;
    font-size:30px;
    margin-top: 30px;
    display: flex;
    align-items: baseline;
}

#profileTab-location{
    font-family: "Saira", sans-serif;
    font-size:30px;
    margin-top: 30px;
    display: flex;
    align-items: baseline;
}

#profileTab-bio{
    font-family: "Saira", sans-serif;
    font-size:30px;
    margin-top: 30px;
    display: flex;
    align-items: baseline;
}

#profileTab-close{
    background-color: transparent;
    color: rgb(245, 245, 245);
    cursor:pointer;
    transition: box-shadow 0.2s ease;
}

#profileTab-close:hover{
    box-shadow: -2px 2px 5px white;
}

#make-organizer{
    margin-top: 80px;
    border: 2px solid rgb(17, 71, 0);
    background: linear-gradient(to right,rgb(34, 145, 0), rgb(135, 223, 101));
    background-clip: text;
  -webkit-text-fill-color: transparent;
}

#kickout{
    margin-top: 50px;
    background-color: transparent;
    border: 2px solid rgb(71, 0, 0);
    background: linear-gradient(to right,rgb(71, 0, 0), rgb(197, 0, 0));
    background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

#friendButton{
    margin-top: 50px;
    background-color: transparent;
}

@media(max-width:1100px){

    #profileTab{
        position: fixed;
        right: 0px;
        top: 0px;
        height: 110vh;
        height: 110dvh;
        width: 100%;
        background: linear-gradient(rgb(8, 52, 146), rgb(69, 119, 134));
        z-index: 1200;
        padding: 2vh;
        color: rgb(245, 245, 245);
        animation: appearTab 0.5s ease-in-out;
        box-shadow: -2px 0px 5px black;
        transition: width 0.3s ease-in-out;
        box-sizing: border-box;
    }

    @keyframes appearTab{
        from{
            width: 0px;
            opacity: 0;
        }
        to{
            width: 100%;
            opacity: 1;
        }
    }


    #profileTab div{
        font-family:"Finger Paint", serif;
        font-size: 3vh;
    }

    #nameAndPfp{
        margin-top: 2vh;
        display: flex;
        align-items: center;
    }

    #profileTab-name{
        font-size: 4vh;
        font-family:"Rocl Salt", cursive;
        background: linear-gradient(to right,rgb(201, 172, 42), rgb(255, 244, 244));
        background-clip: text;
    -webkit-text-fill-color: transparent;

    }

    #profileTab-email{
        font-family: "Saira", sans-serif;
        font-size:3vh;
        margin-top: 3vh;
        display: flex;
        align-items: baseline;
    }

    #profileTab-email div{
        font-size:2.5vh;
    }

    #profileTab-birthday{
        font-family: "Saira", sans-serif;
        font-size:3vh;
        margin-top: 3vh;
        display: flex;
        align-items: baseline;
    }

    #profileTab-location{
        font-family: "Saira", sans-serif;
        font-size:3vh;
        margin-top: 3vh;
        display: flex;
        align-items: baseline;
    }

    #profileTab-bio{
        font-family: "Saira", sans-serif;
        font-size:3vh;
        margin-top: 3vh;
        display: flex;
        align-items: baseline;
    }

    #profileTab-bio div{
        font-size: 2.5vh;
    }

    #profileTab-close{
        background-color: transparent;
        color: rgb(245, 245, 245);
        cursor:pointer;
        transition: box-shadow 0.2s ease;
    }

    #profileTab-close:hover{
        box-shadow: -2px 2px 5px white;
    }

    #make-organizer{
        margin-top: 4vh;
        border: 2px solid rgb(17, 71, 0);
        background: linear-gradient(to right,rgb(34, 145, 0), rgb(135, 223, 101));
        background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3vh;
    }

    #kickout{
        margin-top: 3vh;
        background-color: transparent;
        border: 2px solid rgb(71, 0, 0);
        background: linear-gradient(to right,rgb(71, 0, 0), rgb(197, 0, 0));
        background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 3vh;
    }

    #friendButton{
        margin-top: 3vh;
        background-color: transparent;
        font-size: 3vh;
    }

}