@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

#resetPage{
    background-color: rgb(60, 108, 150);
    height: 100vh;
}

#content-reset{
    position: absolute;
    left: 35%;
    top: 20%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px;
}

#resetPage h2{
    color: white;
    font-size: 50px;
    font-family: "Spectral", system-ui;
}


#confirmPassword-title{
    margin-top: 30px;
}

#resetPage input{
    font-size: 30px;
    width: 450px;
    height: 50px;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px 20px;
}

#content-reset button{
    background-color: rgb(0, 40, 126);
    color: white;
    margin-top:40px;
    font-family: "Spectral", system-ui;
}

@media(max-width:1200px){
    #resetPage{
        background-color: rgb(60, 108, 150);
        height: 100vh;
        max-width: 100%;
        box-sizing: border-box;
    }

    #content-reset{
        position: absolute;
        left: 5%;
        top: 20%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 4vw;
    }

    #resetPage h2{
        color: white;
        font-size: 8vw;
        font-family: "Spectral", system-ui;
    }


    #confirmPassword-title{
        margin-top: 3vh;
    }

    #resetPage input{
        font-size: 6vw;
        width: 90%;
        height: 50px;
        border-radius: 20px;
        margin-top: 10px;
        padding: 1vh 4vw;
    }

    #content-reset button{
        background-color: rgb(0, 40, 126);
        color: white;
        margin-top:4vh;
        font-family: "Spectral", system-ui;
        font-size: 6vw;
        padding: 2vw 4vw;
    }
}