@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

#link-trip{
    text-decoration: none;
}

#trip-line{
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    font-size: 30px;
    align-items: center;
    font-family: "Delius", cursive;
    color: rgb(30,30,30);
    animation: appear 0.5s ease-in-out;
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#trip-line:hover{
    background: rgba(255, 255, 255, 0.8);
}
#trip-line div{
}
#destination-line{
    margin-left: 40px;
    width: 35%;
    padding-top: 20px;
    padding-bottom: 20px;
}
#departureDate-line{
    width: 15%;
    margin-left: 30px;
}
#returnDate-line{
    width: 15%;
}

#bin{
    position: absolute;
    right: 40px;
    cursor: pointer;
    z-index: 2;
    box-shadow: 2px 2px 2px rgb(30,30,30);
    border: 0px;
    animation: appear 0.5s ease-in-out;
}

#share{
    position: absolute;
    right: 160px;
    cursor: pointer;
    z-index: 2;
    box-shadow: 2px 2px 2px rgb(30,30,30);
    border: 0px;
    animation: appear 0.5s ease-in-out;
}

@media(max-width:600px){
    #link-trip{
        text-decoration: none;

    }

    #trip-line{
        position: relative;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        display: flex;
        font-size: 4vw;
        align-items: center;
        font-family: "Delius", cursive;
        color: rgb(30,30,30);
        z-index: 1;
        animation: appear 0.5s ease-in-out;
        width: 100%;
        box-sizing: border-box;
    }

    @keyframes appear{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    #trip-line:hover{
        background: rgba(255, 255, 255, 0.8);
    }
    #trip-line div{
    }
    #destination-line{
        margin-left: 4%;
        width: 20%;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    #departureDate-line{
        width: 22%;
        margin-left: 30px;
        font-size: 3vw;
        transform: scale(1, 1.4);
        font-weight: bold;
    }
    #returnDate-line{
        width: 20%;
        font-size: 3vw;
        transform: scale(1, 1.4);
        font-weight: bold;
    }

    #bin{
        position: absolute;
        right: 40px;
        cursor: pointer;
        z-index: 2;
        box-shadow: 2px 2px 2px rgb(30,30,30);
        border: 0px;
        animation: appear 0.5s ease-in-out;
    }

    #share{
        position: absolute;
        right: 160px;
        cursor: pointer;
        z-index: 2;
        box-shadow: 2px 2px 2px rgb(30,30,30);
        border: 0px;
        animation: appear 0.5s ease-in-out;
    }

    #dots-box{
        position: relative;
        margin-left:15%;
        box-sizing: border-box;
    }
    #dots{

        background-color: transparent;
        border: 0px;
        border-radius: 50%;
        width: 100%;
        padding: 0% 5%;
        width: 4vh;
        height: 4vh;
        border-radius: 50%;
        background-color: rgb(112, 112, 112, 0.2);
        transition: transform 0.3s ease-in-out;
    }

    #dots.clicked{
        transform: rotateZ(-90deg);
        background-color: rgb(36, 36, 36, 0.6);
    }
    #dots-menu{
        position: absolute;
        top: 4vh;
        right: 0vw;
        opacity: 1;
        transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out, opacity 0.5s ease-in-out;
        backdrop-filter:none;
        background-color: white;
        border-radius: 10px;
        padding: 1vw;
        visibility: visible;
    }

    #dots-menu.hidden{
        visibility: hidden;
        opacity: 0;
    }

    #dots-menu.hidden button{
        font-size: 0vw;
    }

    #dots-menu button{
        font-size: 4vw;
        transition: font-size 0.5s ease-in-out;
    }

}